fastapi
uvicorn
pyyaml
requests
elasticsearch[async]==8.6.1
numpy
pandas
nemo-toolkit
numpy
pandas
nltk
transformers
hydra-core
pytorch-lightning
sentencepiece
braceexpand
webdataset
h5py
psutil
ijson
matplotlib
sacremoses
sacrebleu
einops
jieba
opencc
pangu
ipadic
mecab-python3
cython
youtokentome
pytest
gunicorn
redis==4.5.4